.btn {
  @include button-clear;
  display: inline-block;
  padding: 20px 30px;

  color: $white;
  text-align: center;
  text-transform: uppercase;

  text-decoration: none;

  border-radius: 5px;
  cursor: pointer;

  &-full-width {
    width: 100%;
  }

  &-green {
    background-color: $green;
  }

  &-transparency {
    border: 1px solid $white;
  }

  &-news {
    padding: 16px 30px;

    color: $dark-gray;

    font-size: 12px;
    line-height: 1.6;

    border: 1px solid $dark-gray;
  }

  &-download {
    padding: 16px 40px;

    font-size: 12.8px;

    text-transform: none;

    background-color: $red;

    border-radius: 32px;
  }

  &-icon {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 20px 30px;

    font-size: 12.8px;

    text-align: left;

    & img {
      width: 20px;
      height: 20px;

      margin-right: 1rem;

      filter: invert(100%);
    }
  }

  &-mix {
    background-color: $purple;
  }

  &-favorite {
    background-color: $red;
  }
}
