.hero-artist-content {
  padding-bottom: 28px;

  color: $white;

  & h1 {
    margin-top: 50px;
    margin-bottom: 1rem;

    @include media($md) {
      margin-top: 24px;
    }
  }
}

.buttons-list {
  display: flex;
  gap: 1.5rem;

  margin-top: 50px;

  @include media($sm) {
    flex-direction: column;
  }
}
