.pricing-list {
  display: flex;
  gap: 50px 20px;
  justify-content: space-between;

  @include media($lg) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.bg-pricing {
  background-position: center;
  background-size: cover;

  &-free {
    background-image: url("../images/subscribe_1.png");
  }

  &-standard {
    background-image: url("../images/subscribe_2.png");
  }

  &-premium {
    background-image: url("../images/subscribe_3.png");
  }
}
