.btn {
  @include button-clear;
  padding: 20px 30px;

  color: $white;
  text-align: center;
  text-transform: uppercase;

  text-decoration: none;

  border-radius: 5px;
  cursor: pointer;

  &-full-width {
    width: 100%;
  }

  &-green {
    background-color: $green;
  }

  &-transparency {
    border: 1px solid $white;
  }
}
