@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #cacaca;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 424px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 424px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
@media screen and (max-width: 424px) {
  h3 {
    font-size: 18px;
    line-height: 1.5;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}

.section-header {
  margin-bottom: 48px;
  color: #fff;
}

.header-content {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 11px;
  line-height: 1.5;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;
}
.logo-image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 17px;
  }
}

.nav {
  margin-left: 90px;
}
@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 18px;
    margin-left: 0;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    flex-direction: column;
  }
}

.nav-list-item {
  margin-right: 24px;
}

.nav-link {
  color: #cacaca;
  text-decoration: none;
}
.nav-link:hover {
  color: #fff;
}
.nav-link.active {
  color: #fff;
}

.search-form {
  display: flex;
  width: 248px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .search-form {
    width: 100%;
  }
}

.search-input {
  flex: 1 1 auto;
  height: 25px;
  padding: 5px 10px;
  color: #fff;
  font-family: inherit;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.search-input::placeholder {
  text-transform: uppercase;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

footer h2 {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.footer-top .column {
  width: 270px;
}
.footer-top h2 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1023px) {
  .footer-top {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

.links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list {
  display: flex;
  gap: 24px;
}

footer hr {
  margin: 0;
}

.footer-bottom {
  padding: 2rem 0;
}
.footer-bottom .links-list {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .footer-bottom .links-list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 424px) {
  .footer-bottom .links-list {
    flex-direction: column;
  }
}

.hero {
  padding: 200px 0;
  background-position: center;
  background-size: cover;
}

.hero-index-bg {
  background-image: url("../images/banner.png");
}

.hero-artist-bg {
  background-image: url("../images/Morten Harket.png");
}

.btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: inline-block;
  padding: 20px 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-full-width {
  width: 100%;
}
.btn-green {
  background-color: #34c176;
}
.btn-transparency {
  border: 1px solid #fff;
}
.btn-news {
  padding: 16px 30px;
  color: #cacaca;
  font-size: 12px;
  line-height: 1.6;
  border: 1px solid #cacaca;
}
.btn-download {
  padding: 16px 40px;
  font-size: 12.8px;
  text-transform: none;
  background-color: #95390c;
  border-radius: 32px;
}
.btn-icon {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 20px 30px;
  font-size: 12.8px;
  text-align: left;
}
.btn-icon img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  filter: invert(100%);
}
.btn-mix {
  background-color: #5328a1;
}
.btn-favorite {
  background-color: #95390c;
}

.hero-index-content {
  display: grid;
  place-items: center;
}
.hero-index-content h1, .hero-index-content h2 {
  color: #fff;
  text-align: center;
}

.hero-desc {
  margin-top: 30px;
  margin-bottom: 17px;
  color: #fff;
  text-align: center;
}

.hero-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
}

.hero-input {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 15px 20px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.hero-input::placeholder {
  color: inherit;
}
@media screen and (max-width: 767px) {
  .hero-input {
    width: 100%;
  }
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 366px;
  padding: 24px 1.5rem;
  color: #fff;
  border-radius: 1rem;
}
@media screen and (max-width: 1023px) {
  .pricing-item {
    max-width: 374px;
  }
}
.pricing-item h3 {
  margin-bottom: 200px;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .pricing-item h3 {
    font-size: 18px;
  }
}

.pricing-value {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
  text-transform: uppercase;
}

.currency {
  font-size: 32px;
}

.pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
  text-align: center;
}

.pricing-desc {
  margin-top: 45px;
  color: #fff;
  text-align: center;
}

.pricing-list {
  display: flex;
  gap: 50px 20px;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .pricing-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.bg-pricing {
  background-position: center;
  background-size: cover;
}
.bg-pricing-free {
  background-image: url("../images/subscribe_1.png");
}
.bg-pricing-standard {
  background-image: url("../images/subscribe_2.png");
}
.bg-pricing-premium {
  background-image: url("../images/subscribe_3.png");
}

.news-item {
  display: flex;
  gap: 50px;
  margin-bottom: 65px;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item:nth-child(odd) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .news-item:nth-child(odd) {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .news-item {
    flex-direction: column;
  }
}

.news-image {
  flex-shrink: 0;
}
@media screen and (max-width: 1023px) {
  .news-image {
    flex-shrink: 1;
    align-self: center;
  }
}

.news-content h3 {
  margin-bottom: 30px;
  color: #fff;
}

.news-content p {
  margin-bottom: 24px;
}

.news-author {
  display: flex;
  gap: 1rem;
  margin-bottom: 48px;
  font-size: 12px;
  line-height: 1.6;
}
.news-author img {
  width: 19px;
  height: 19px;
}
.news-author p {
  margin: 0;
}

.author-name {
  color: #f89202;
  text-transform: uppercase;
}

.app-content {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .app-content {
    gap: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .app-content {
    flex-direction: column-reverse;
  }
}

.app-content .column {
  flex: 0 1 600px;
}
@media screen and (max-width: 767px) {
  .app-content .column {
    flex: none;
  }
}
.app-content .column p {
  margin: 1rem 0;
}
@media screen and (max-width: 424px) {
  .app-content .column p {
    margin: 0 0 1rem;
  }
}

.app-image {
  display: flex;
  justify-content: center;
}

.hero-artist-content {
  color: #fff;
}
.hero-artist-content h1 {
  margin-top: 50px;
  margin-bottom: 1rem;
}

.buttons-list {
  display: flex;
  gap: 1.5rem;
  margin-top: 48px;
}
@media screen and (max-width: 424px) {
  .buttons-list {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
